* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, sans-serif ;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-hero, .information, .quote-section, .call-to-action, .footer {
    padding: 35px 200px 70px;
}

.header-hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 45px;
}

.hero-container {
    flex: 1 1 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    padding: 5px 9px;
    border: #3882F6 solid 2px;
    border-radius: 7px;
    width: 130px;
}

.hero img {
    height: auto;
    min-width: 260px;
    flex: 1 1 800px;
    align-self: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 35px;
}

.information-items {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.item {
    width: 150px;
    text-align: center;
}

.information-items img {
    border: 3px solid #3882F6;
    border-radius: 7px;
    height: auto;
    width: 150px;
}

.information-items p {
    margin: 0;
}